<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">待处理</div>
                <div style="padding: 10px 0 20px 10px;">
                    <ul>
                        <li>有<a href="">3</a>笔订单待审核&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="">去审核</a></li>
                        <li>有<a href="">204</a>位采购商待审核&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="">去授信</a></li>
                        <li>有<a href="">45</a>位供应商待审核&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="">去审核</a></li>
                        <li>有<a href="">14</a>个商品待审核&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="">去审核</a></li>
                        <li>有<a href="">34</a>笔还款已逾期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="">查看</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6">

        </div>

    </div>
</div>
</body>
</html>