<!DOCTYPE html>
<html>
<head>
    <title>充值记录表</title>
        <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("sys:accountrecharge:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("sys:accountrecharge:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("sys:accountrecharge:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                                                                            <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="accountRecharge.userId"
                                   placeholder=""/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">充值金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="accountRecharge.account"
                                   placeholder="充值金额"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">充值类型0是充值，1是提现</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="accountRecharge.type"
                                   placeholder="充值类型0是充值，1是提现"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="accountRecharge.status"
                                   placeholder="状态"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">备注</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="accountRecharge.remark"
                                   placeholder="备注"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">审核人</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="accountRecharge.verifier"
                                   placeholder="审核人"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">审核凭据</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="accountRecharge.proof"
                                   placeholder="审核凭据"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">验证时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="accountRecharge.verifiyDate"
                                   placeholder="验证时间"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="accountRecharge.createDate"
                                   placeholder=""/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="accountRecharge.updateDate"
                                   placeholder=""/>
                        </div>
                    </div>
                                        <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/accountrecharge.js?_${.now?long}"></script>
</body>
</html>