<!DOCTYPE html>
<html>
<head>
    <title>授信表</title>
        <#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <#if shiro.hasPermission("sys:credit:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            </#if>
            <#if shiro.hasPermission("sys:credit:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            </#if>
            <#if shiro.hasPermission("sys:credit:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                                                                            <div class="form-group">
                        <div class="col-sm-2 control-label">用户id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="credit.userId"
                                   placeholder="用户id"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">借款申请表</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="credit.loanApplication"
                                   placeholder="借款申请表"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">财务报表</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="credit.financialStatement"
                                   placeholder="财务报表"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">缴税证明</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="credit.taxCertification"
                                   placeholder="缴税证明"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">银行流水</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="credit.accountStatement"
                                   placeholder="银行流水"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">授信额度证明</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="credit.certificateOfCreditLine"
                                   placeholder="授信额度证明"/>
                        </div>
                    </div>
                                                                <div class="form-group">
                        <div class="col-sm-2 control-label">其他证明</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="credit.orther"
                                   placeholder="其他证明"/>
                        </div>
                    </div>
                                        <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/credit.js?_${.now?long}"></script>
</body>
</html>